body{
	/*background-color:rgb(13,10,68);*/
	background-color:white;
	margin: 0px;
	padding: 0px;
}

h1 {
	text-align: center;
	font-size:2em;
	font-family: cursive;
	border-bottom: 2px black solid;
	background-color: rgba(0, 0, 255, 0.8);
	color:white;
}

.header {
	display: flex;
	justify-content: center;
	background-color: white;
	color: rgb(28, 21, 203);
	text-align:center;
	font-family:Arial, sans serif;
	font-size: 4em;
	margin:-8px;
	height:15vh;
	min-height:100px;
	line-height:25vh;
	margin:auto;
	border-bottom: 2px solid black;
	position:relative;
}

.logo{
	position:relative;
	object-fit:cover;
	width:height;
	height:15vh;
	min-height: 100px;
}

.navlink{
	background-color:white;
	text-align:center;
	font-size:1.5em;
	line-height:5vh;
	font-family: cursive;
	text-decoration:none;
	
	width:20%;
	height:5vh;
	
	position:relative;
	float:left;

	margin:0px;
	margin-bottom:50px;

	border-bottom: 2px solid black;

}

.navlink:hover{
	background-color:rgb(59,109,209);
	color: white;
}

.navlink:visited{
	background-color: white;
	color: black;
}

/*
.navbar a{
	background-color:white;
	text-decoration:none;
}

.navbar a:hover{
	background-color:rgb(209,209,209);
}

.navbar a.current-page{
	background-color:black;
	color:white;
}
*/
.current-page{
	background-color:black;
	color:white;
}

canvas {
	width: 350px;
	height: 400px;
	border: 2px solid black;
}

.thumbnail-pics{
	height:150px;
}


.whiteboard-container {
	display:flex;
	flex-wrap: wrap;
	justify-content:space-around;
}

#canvas-holder {
	position:relative;
	width: 100vw;
	height: 400px;
	border: 2px solid black;
	
}

.selectors {
	width: 100%;
}

.button-div {
	display: flex;
	justify-content: center;
}

.button {
	width: 50px;
}

.recent {
	text-align: center;
	line-height:2em;
	font-size:2em;
	font-family: cursive;
	border-bottom: 2px black solid;
	background-color: rgba(255, 0, 0, 0.8);
	color: white;
}


.footer{
	clear:both;
	background-color:'white';
	height:15vh;
	border: 2px solid black;
	margin-top:20px;