			body{
				/*background-color:rgb(13,10,68);*/
				background-color:white;
			}

			.header{
				background-color: white;
				color: rgb(28, 21, 203);
				text-align:center;
				font-family:Arial, sans serif;
				font-size: 4em;
				margin:-8px;
				height:15vh;
				min-height:100px;
				line-height:25vh;
				margin:auto;
				border-bottom: 2px solid black;
				position:relative;
			}

			.logo{
				position:relative;
				object-fit:cover;
				width:height;
				height:15vh;
				min-height: 100px;
			}

			.navlink{
				background-color:white;
				text-align:center;
				font-size:1.5em;
				line-height:5vh;
				font-family: cursive;
				text-decoration:none;
				
				width:20%;
				height:5vh;
				
				position:relative;
				float:left;

				margin:0px;
				margin-bottom:50px;

				border-bottom: 2px solid black;

			}

			.navlink:hover{
				background-color:rgb(59,109,209);
				color: white;
			}

			.navlink:visited{
				background-color: white;
				color: black;
			}

			.current-page{
				background-color:black;
				color:white;
			}

			/*
			.navbar a{
				background-color:white;
				text-decoration:none;
			}

			.navbar a:hover{
				background-color:rgb(209,209,209);
			}

			.navbar a.current-page{
				background-color:black;
				color:white;
			}
			*/

			.footer{
				clear:both;
				background-color:'white';
				height:15vh;
				border: 2px solid black;
				margin-top:20px;